<div class="container-fluid no-gutters">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <span class="logo">
            <img src="./assets\logoCompasso1.png" class="img-fluid" />
          </span>
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="ola">Olá,</h1>
              <p class="display-6">
                Para continuar navegando de forma segura, efetue o login na
                rede.
              </p>

              <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <h1 class="text-login">Login</h1>
                <div class="form-group mb-4 sm-2">
                    <input formControlName="email"
                      id="inputLogin"
                      type="email"
                      name="email"
                      placeholder="Usuário"
                      class="form-control usuario mb-4 rounded-pill border-0 shadow-sm px-4"
                      style="color: #e0e0e0; font-size: 12px"
                      autocomplete="on"
                      ngModel
                      required
                      autofocus
                    />

                </div>
                <div class="form-group mb-4 sm-2">
                    <input formControlName="password"
                      id="inputPassword"
                      type="password"
                      name="password"
                      placeholder="Senha"
                      class="form-control senha mb-4 rounded-pill border-0 shadow-sm px-4"
                      style="color: #e0e0e0; font-size: 12px"
                      autocomplete="on"
                      ngModel
                      required
                      autofocus
                    />
                </div>

                <button
                  type="submit"
                  class="btn continuar btn-danger btn-block mb-2 rounded-pill shadow-sm"
                >
                  Continuar
                </button>
                <button class="mat-raised-button" (click)="loginWithGoogle()">
                Entrar com o Google</button>
                <ng-login-form (formData)="login($event)"></ng-login-form>

                <div
                  class="alert alert-warning"
                  role="alert"
                  *ngIf="email?.hasError('required') && password?.hasError('required')"
                >
                  Ops, usuário ou senha inválidos. Tente novamente!
                </div>

                <div class="justify-content-between mt-4">
                  <p class="text">
                    Não é cadastrado ainda? Cadastre-se
                    <a href="/register" class="font-italic text-muted"
                      ><u class="aqui">aqui</u></a
                    >
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-none d-md-flex bg-image no-gutters"></div>
  </div>
</div>
