<div class="page">
  <!--Login & Signup in single row-->
  <div class="row">
    <!--Column for signin-->
    <div class="col-sm-12 col-md-6 text-center signin">
      <!-- Default form login -->
      <form action="#!">
        <p class="h1 mb-4 text-center signintext top">Olá,</p>
        <p class="h4 mb-4 text-center signintext top">Para continuar navegando de forma segura, efetue o login na rede.</p>
        <p class="text-center">Login</p>
        <!-- Email -->
        <input
          type="email"
          class="form-control"
          placeholder="Usuário"
        />
        <!-- Password -->
        <input
          type="password"
          class="form-control"
          placeholder="Senha"
        />
        <!-- Sign in button -->
        <button class="btn btn-primary btn-danger" type="submit">
        Continuar
        </button>
        <a class="register" href="[./register">Ainda não é usuário? Se registre <span>aqui</span>.</a>

      </form>
    </div>
    <!--Column for image-->
    <div class="col-md-6 img-fluid">
      <img src="./assets\home.png">
    </div>
  </div>
</div>
