
<div id="home">
  <header>
    <img class="logo-compasso" src="assets/logoCompasso2.png">
    <div id="dateAndTime">
      <p class="hour">{{ currentTime | date: "HH:mm" }}</p>
      <p class="date">{{currentTime | date: "EEEE, d " : 'pt-BR'}} de {{currentTime | date: "MMMM" : 'pt-BR'}} de {{currentTime | date: "y" : 'pt-BR'}}</p>
    </div>
    <div id="temperature">
      <p class="cityAndState"><app-weather></app-weather></p>
      <div class="temperatureHere">
        <img src="assets/cloud.png">
        </div>
    </div>
  </header>
  <main>
    <img class="bolaCompasso" src="assets/bolaCompasso.png">
    <div class="textsAll">
      <div class="text-1">
        <p>Our Mission is</p>
        <span>Nossa missão é</span>
      </div>
      <div class="text-2">
        <p>to transform the world</p>
        <span>transformar o mundo</span>
      </div>
      <div class="text-3">
        <p>building digital experiences</p>
        <span>construindo experiências digitais</span>
      </div>
      <div class="text-4">
        <p>that enable our client's growth</p>
        <span>que permitam o crescimento dos nossos clientes</span>
      </div>
    </div>
  </main>
  <footer>
    <p class="footerMessage">Essa janela do navegador é usada para manter sua sessão de autenticação ativa. Deixa-a
      aberta em segundo plano e abra uma nova janela para continuar a navegar.
    </p>
    <span class="bar"></span>
    <p class="refreshMessage">Application refresh in</p>
    <div class="timer">
      <div class="number" id="number">{{ display }}</div>
      <p class="seconds">seconds</p>
    </div>
    <button (click)="goToGoogle()" class="continue">Continuar Navegando</button>
    <button (click)="logout()" class="logout">Logout</button>
  </footer>
</div>
