<div class="home-wrapper">
  <div class="header">
    <div class="logo-compass">
      <img class="col-md-6 d-none d-md-flex bg-image no-gutters" alt="">
    </div>
      <div class="time">{{ currentTime | date: "HH:mm" }}</div>
    <div class="weather">
      <div class="location">
        <div class="location">{{ location.name }} {{ location.country }}</div>
      </div>
      <div class="img-tempp">
        <h4></h4>
        <h3>{{ weatherNow.main.temp | number: "1.0-0" }}°C</h3>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="logo-ball">
      <img src="../../assets/bolaCompasso.png" alt="">
    </div>
    <div class="text">
      <h3>Our mission is</h3>
      <h4>Nossa missão é</h4>
      <h2>to transform the world</h2>
      <h4>transformar o mundo</h4>
      <h2>building digital experiences</h2>
      <h4>construindo experiências digitais</h4>
      <h2>that enable our client's growth</h2>
      <h4>que permitam o crescimento dos nossos clientes</h4>
    </div>
  </div>
  <div class="footer">
    <div class="left">
      <p>Essa janela do navegador é usada para manter sua sessão de autenticação ativa. Deixe-a aberta em segundo plano e abra uma nova janela para continuar a navegar.</p>
    </div>
    <img src="../../assets/line.png" alt="">
    <div class="right">
      <div class="timer-wrapper">
        <h2>Application refresh in</h2>
        <div class="timer">
          <h1>{{display}}</h1>
          <h3>seconds</h3>
        </div>
      </div>
      <div class="btn-wrapper">
        <button class="continuar-btn" (click)="goToGoogle()">Continuar navegando</button>
        <button class="logout-btn" (click)="logout()">logout</button>
      </div>
    </div>
  </div>
</div>
