
<div class="container-fluid no-gutters">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="login align-items-center">
        <div class="container">
          <span class="logo d-flex align-items-center py-5">
            <img src="./assets\logoCompasso1.png" class="img-fluid" no-gutters/>
          </span>
          <div class="row no-gutters">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h1 class="ola">Olá,</h1>
              <div class="display-4">
              <p >

                Cadastre um e-mail e uma senha válidos para efetuar o login na
                rede.
              </p>
            </div>
              <form>
                <h1 class="text-login">Cadastro</h1>
                <div class="form-group mb-3 sm-2">
                  <input
                    id="inputEmail"
                    type="email"
                    placeholder="email.usuario@compasso.com.br"
                    required=""
                    autofocus=""
                    class="form-control usuario mb-2 rounded-pill border-0 shadow-sm px-4"
                    style="color:#E0E0E0; font-size:12px;"
                  />
                </div>
                <div class="form-group mb-3">
                  <input
                    id="inputPassword"
                    type="password"
                    placeholder="Senha"
                    required=""
                    class="form-control senha mb-2 rounded-pill border-0 shadow-sm"
                    style="color:#E0E0E0; font-size:12px;"
                  />
                </div>
                <div class="form-group mb-3">
                  <input
                    id="inputPassword"
                    type="password"
                    placeholder="Confimação da Senha"
                    required=""
                    class="form-control senha mb-2 rounded-pill border-0 shadow-sm"
                    style="color:#E0E0E0; font-size:12px;"
                  />
                </div>

                <button
                  type="submit"
                  class="btn continuar btn-danger btn-block mb-2 rounded-pill shadow-sm"
                >
                  Continuar
                </button>
                <div class="justify-content-between mt-4">
                  <p class="text">
                    Login? Clique
                    <a href=" " class="font-italic text-muted"
                      ><u class="aqui">aqui</u></a
                    >
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-none d-md-flex bg-image no-gutters"></div>
  </div>
</div>

