@import url(//db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);

.login,
.image {
  min-height: 100vh;
  background: #222222;
  box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
}
.bg-image {
  background-image: url("../../assets/home.png");
  background-size: cover;
  background-position: center center;
}

.text {
  color: #ffffff;
}

.ola {
  width: 80%;
  height: 15%;
  left: 0%;
  margin-right: 18%;
  margin-top: 0%;
  margin-left: 15%;
  margin-right: 18%;
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 76px;
  color: #e0e0e0;
}

.display-4 {
  width: 80%;
  height: 12%;
  margin-left: 15%;
  margin-right: 18%;
  bottom: 250%;
  align-items: center;
  margin-bottom: 12%;
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #e0e0e0;
}

.text-login {
  height: 38px;
  margin-left: 15%;
  margin-right: 18%;
  margin-bottom: 5%;
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #e0e0e0;
}

.usuario {
  box-sizing: border-box;
  margin-top: 2%;
  width: 75%;
  margin-left: 15%;
  margin-right: 18%;
  height: 50px;
  background: #26292c;
  border: 1px solid #ffffff;
  border-radius: 50px;
  border: 1px solid #ffffff;
}
.usuario::placeholder,
.senha::placeholder {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #e0e0e0;
}

.senha {
  box-sizing: border-box;
  margin-top: 5%;
  width: 75%;
  margin-left: 15%;
  margin-right: 18%;
  height: 50px;
  background: #26292c;
  border: 1px solid #ffffff;
}

.continuar {
  margin-top: 15%;
  width: 75%;
  height: 55px;
  margin-left: 15%;
  margin-right: 18%;
  background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
}

.continuar {
  font-family: "Mark Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.text {
  font-family: "Mark Pro";
  font-style: normal;
  margin-left: 15%;
  margin-right: 18%;
  font-weight: 200;
  font-size: 12px;
  color: #ffffff;
}

.logo {
  position: flex;
  margin-right: 15%;
  margin-left: 20%;
  margin-bottom: 20%;
  display: none;
}

@media screen and (min-width: 767px) {
  .logo {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .logo {
    display: none;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}
